* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 15px;
    padding: 15px;
}

nav {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

nav > *:hover {
    background-color: black;
    color: white;
}

.project-card {
    width: 250px;
    box-sizing: border-box;
    border: 5px solid black;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.project-card > label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.project-card > h1 {
    font-size: x-large;
}

.todo-undone, .todo-done {
    display: flex;
    gap: 15px;
    padding: 2px 5px;
    align-items: center;
}

.todo-done label, .todo-undone label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    flex: 1;
    min-width: 0;
}

.todo-undone {
    background-color: pink;
}

.todo-done {
    background-color: lightgreen;
}

.todo-div {
    padding-right: 300px;
}

.project-div {
    display: flex;
    gap: 15px;
}

.detail-button {
    border: none;
    background-color: black;
    color: white;
}

.delete-button {
    border: none;
    background-color: red;
    color: white;
}

#project-modal, #todo-modal {
    border: none;
    border-radius: 8px;
    padding: 15px;
}

#todo-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#project-modal::backdrop, #todo-modal::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.btns {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

dialog {
    margin: auto;
}